<mat-dialog-content>
  <p mat-dialog-title>{{ dialogTitle }}</p>

  <mat-form-field>
    <mat-label>Название (обязательно)</mat-label>
    <input
      #inputTitle
      matInput
      [(ngModel)]="tmpTitle"
      (keydown.enter)="onConfirm()"
    />

    <button
      *ngIf="tmpTitle.trim().length > 0"
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="tmpTitle = ''"
      class="dialog-clear"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Укажите категорию</mat-label>
    <mat-select [(ngModel)]="tmpCategory">
      <mat-option [value]="null">Без категории</mat-option>
      <mat-option *ngFor="let cat of categories" [value]="cat">{{
        cat.title
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Укажите приоритет</mat-label>
    <mat-select [(ngModel)]="tmpPriority">
      <mat-option [value]="null">Без приоритета</mat-option>
      <mat-option *ngFor="let p of priorities" [value]="p">
        {{ p.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Укажите срок выполнения"
      #inputDate
      readonly="true"
      [matDatepicker]="picker"
      [(ngModel)]="tmpDate"
      (click)="picker.open()"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <button
      *ngIf="inputDate.value.trim().length > 0"
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="tmpDate = undefined"
      class="dialog-clear"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="row w-100 p-0 px-md-3 d-flex justify-content-between mx-0">
    <div class="col-md-5 col-12 p-0">
      <button
        mat-raised-button
        color="primary"
        (click)="onConfirm()"
        [disabled]="inputTitle.value.trim().length == 0"
      >
        Сохранить
      </button>

      <button mat-raised-button (click)="onCancel()">Отмена</button>
    </div>

    <div
      *ngIf="canDelete()"
      class="col-md-5 col-12 p-0 pt-2 pt-md-0 text-nowrap"
    >
      <button
        mat-button
        class="green text-center px-2"
        *ngIf="!task.completed"
        (click)="complete()"
      >
        Завершить <span *ngIf="!isMobile">задачу</span>
      </button>
      <button
        mat-button
        class="green text-center px-2"
        *ngIf="task.completed"
        (click)="activate()"
      >
        Активировать <span *ngIf="!isMobile">задачу</span>
      </button>
      <button mat-button class="red text-center px-2" (click)="delete()">
        Удалить <span *ngIf="!isMobile">задачу</span>
      </button>
    </div>
  </div>
</mat-dialog-actions>
