<mat-dialog-content>
  <p mat-dialog-title>{{ dialogTitle }}</p>
  <mat-form-field>
    <mat-label>Название (до 15 символов)</mat-label>
    <input
      #inputTitle
      matInput
      maxlength="15"
      [(ngModel)]="categoryTitle"
      (keydown.enter)="onConfirm()"
    />
    <button
      *ngIf="categoryTitle.trim().length > 0"
      class="clear-icon dialog-clear"
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="categoryTitle = ''"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="col-12 text-center d-flex justify-content-between flex-nowrap">
    <button
      mat-raised-button
      color="primary"
      (click)="onConfirm()"
      [disabled]="categoryTitle.trim().length == 0"
      class="px-2"
    >
      Сохранить
    </button>
    <button mat-raised-button (click)="onCancel()">Отмена</button>
  </div>
  <div class="col-12 text-center">
    <button *ngIf="canDelete()" mat-button (click)="delete()" class="red pt-2">
      Удалить
    </button>
  </div>
</mat-dialog-actions>
