.completed {
  color: #999;
  text-decoration: line-through;
}

.novalue {
  color: #ccc;
}

.col-id {
  width: 3%;
  text-align: center;
}

.col-title {
  width: 40%;
  padding-right: 1%;
}

.col-date {
  width: 12%;
  padding-right: 1%;
}

.col-priority {
  width: 10%;
  padding-right: 1%;
}

.col-category {
  width: 10%;
}

.col-select {
  width: 3%;
}

.col-operations {
  width: 10%;
}

.col-color {
  width: 1%;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: 0px;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 0px;
}

.not-found {
  font-size: 24px;
  text-align: center;
  padding: 1rem 0;
}

.pointer {
  cursor: pointer;
}

.delete-icon {
  cursor: pointer;
  color: #ea6561;
  font-size: 18px;
  margin-left: 3px;
  margin-right: 3px;
}

.edit-icon {
  cursor: pointer;
  color: #9a9a9a;
  font-size: 18px;
  margin-right: 3px;
  margin-left: 3px;
}

.col-select {
  padding-top: 8px;
}

.mat-header-cell {
  font-size: 1rem;
  color: #9c27b0 !important;
  font-weight: normal;
}
