.completed {
  text-decoration: line-through;
  color: #d6d6d6;
  background-color: transparent;
}

.novalue {
  color: #ccc;
}

.col-id {
  width: 3%;
  text-align: center;
}

.col-title {
  width: 43%;
  padding-right: 1%;
}

.col-date {
  width: 13%;
  padding-right: 1%;
}

.col-priority {
  width: 10%;
  padding-right: 1%;
}

.col-category {
  width: 10%;
}

.col-select {
  width: 3%;
}

.col-operations {
  width: 8%;
  white-space: nowrap;
  padding-right: 10px;
}

.col-color {
  width: 1%;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: 0px;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 0px;
}

.not-found {
  font-size: 24px;
  text-align: center;
  padding: 1rem 0;
}

.pointer {
  cursor: pointer;
}

.delete-icon {
  display: inline-block;
  cursor: pointer;
  color: #ea6561;
  font-size: 18px;
  margin-left: 3px;
  margin-right: 3px;
}

.edit-icon {
  display: inline-block;
  cursor: pointer;
  color: #9a9a9a;
  font-size: 18px;
}

.col-select {
  padding-top: 8px;
}

.mat-header-cell {
  font-size: 1rem;
  color: #9c27b0 !important;
  font-weight: normal;
}

.tasks-title {
  font-size: 24px;
  vertical-align: middle;
}

.add-task-button {
  font-size: 18px;
}

.reset-filter-button {
  height: 70%;
}

.mat-form-field-wrapper {
  padding-bottom: 0.75em !important;
}

.card-wrapper {
  margin-top: -30px;
}

.card-mobile {
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.background-completed {
  background-color: #94ada7 !important;
}

.mobile-priority-top {
  height: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.mobile-info-inner {
  padding-bottom: 14px;
  padding-left: 15px;
  margin-left: 10px;
}

.mobile-category {
  display: inline-block;
  text-align: left;
  margin-top: 8px;
  color: #8e8e8e;
}

.mobile-priority {
  display: inline-block;
  text-align: left;
  margin-top: 8px;
  margin-left: 5px;
  color: #8e8e8e;
}

.mobile-category p {
  margin: 0;
}

.mobile-category p.category,
p.priority {
  display: inline;
  padding: 5px;
  background-color: rgba(227, 227, 227, 0.89);
  color: rgba(78, 78, 78, 0.89);
  border-radius: 4px;
}

.mobile-date {
  display: inline-block;
  text-align: right;
  font-size: 13px;
  margin-top: 8px;
  margin-left: 10px;
  color: #8e8e8e;
}

.mobile-title {
  font-size: 16px;
  line-height: 20px;
}

.check-icon-notcompleted {
  font-size: 40px !important;
  color: #dadada;
}
.mobile-check-fix {
  margin-left: -10px;
}

.mobile-check-button {
  height: 100%;
  width: 100%;
}

.check-icon-completed {
  font-size: 40px !important;
  color: rgba(167, 214, 182, 0.89);
}

.reset-search {
  margin-top: 10px;
  font-size: 16px;
  text-decoration: underline;
  color: rgba(5, 83, 123, 0.98);
  text-align: center;
}

div.card-mobile p {
  margin-bottom: 0 !important;
}

@media only screen and (max-width: 767.98px) {
  .card-wrapper {
    margin-top: 0px;
  }
}
