<div class="row">
  <div class="col-md-3 col-sm-12">
    <mat-form-field>
      <input
        #filterInput
        (keydown.escape)="searchTaskText = ''; onFilterByTitle()"
        (keyup)="onFilterByTitle()"
        [(ngModel)]="searchTaskText"
        matInput
        placeholder="Поиск в текущей категории"
      />
      <button
        (click)="searchTaskText = ''; onFilterByTitle()"
        *ngIf="filterInput.value.trim().length > 0"
        aria-label="Clear"
        class="clear-icon gray dialog-clear"
        mat-button
        mat-icon-button
        matSuffix
      >
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="col-md-3 col-sm-12">
    <mat-form-field>
      <mat-select
        #statusFilter
        (valueChange)="onFilterByStatus($event)"
        [value]="selectedStatusFilter"
        placeholder="Фильтр по статусу"
      >
        <mat-option [value]="undefined">Все статусы</mat-option>
        <mat-option [value]="true">Завершенные задачи</mat-option>
        <mat-option [value]="false">Незавершенные задачи</mat-option>
      </mat-select>
      <button
        (click)="$event.stopPropagation(); onFilterByStatus(undefined)"
        *ngIf="selectedStatusFilter !== undefined"
        aria-label="Clear"
        class="clear-icon dialog-clear gray"
        mat-button
        mat-icon-button
        matSuffix
      >
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="col-md-3 col-sm-12">
    <mat-form-field class="pb-2 pb-md-4">
      <mat-select
        #priorityFilter
        (valueChange)="onFilterByPriority($event)"
        [value]="selectedPriorityFilter"
        placeholder="Фильтр по приоритету"
      >
        <mat-option [value]="undefined">Все приоритеты</mat-option>
        <mat-option *ngFor="let p of priorities" [value]="p">
          {{ p.title }}
        </mat-option>
      </mat-select>
      <button
        (click)="$event.stopPropagation(); onFilterByPriority(undefined)"
        *ngIf="selectedPriorityFilter !== undefined"
        aria-label="Clear"
        class="clear-icon dialog-clear gray"
        mat-button
        mat-icon-button
        matSuffix
      >
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="col-md-3 col-sm-12">
    <button
      (click)="
        $event.stopPropagation();
        onFilterByStatus(undefined);
        onFilterByPriority(undefined);
        searchTaskText = '';
        onFilterByTitle()
      "
      *ngIf="
        selectedStatusFilter !== undefined ||
        selectedPriorityFilter !== undefined ||
        (searchTaskText !== undefined && searchTaskText.trim() !== '')
      "
      aria-label="Clear"
      mat-button
      matSuffix
      class="reset-filter-button"
    >
      Сбросить фильтры
    </button>
  </div>
</div>

<!-- 
 -->

<div class="row">
  <div class="col-12 d-flex justify-content-center" *ngIf="isMobile">
    <button
      mat-raised-button
      color="primary"
      class="add-task-button px-5 py-1"
      (click)="openAddTaskDialog()"
    >
      Добавить задачу
    </button>
  </div>
  <div class="col-12 p-1 card-wrapper">
    <div class="card" *ngIf="!isMobile">
      <div
        class="card-header card-header-warning d-flex justify-content-between"
      >
        <h4 class="card-title tasks-title">Задачи</h4>
        <button
          mat-raised-button
          color="primary"
          class="add-task-button px-2 px-md-5"
          (click)="openAddTaskDialog()"
        >
          Добавить
        </button>
      </div>
      <div
        class="card-body table-responsive px-1 px-md-3"
        *ngIf="tasks && tasks.length > 0"
      >
        <table [dataSource]="dataSource" mat-table matSort class="w-100">
          <!--  цвет приоритета  -->
          <ng-container matColumnDef="color">
            <th *matHeaderCellDef mat-header-cell></th>
            <td
              class="col-color"
              *matCellDef="let task"
              [style.background-color]="getPriorityColor(task)"
              mat-cell
            ></td>
          </ng-container>

          <!-- нумерация-->
          <ng-container matColumnDef="id">
            <th *matHeaderCellDef mat-header-cell></th>
            <td class="col-id" *matCellDef="let index = index" mat-cell>
              {{ index + 1 }}
            </td>
          </ng-container>

          <!-- название задачи-->
          <ng-container matColumnDef="title">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Название</th>
            <td
              class="col-title pointer"
              *matCellDef="let task"
              [class.completed]="task.completed"
              mat-cell
              (click)="openEditTaskDialog(task)"
            >
              {{ task.title }}
            </td>
          </ng-container>

          <!--дата выполнения-->
          <ng-container matColumnDef="date">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Срок</th>
            <td
              class="col-date"
              *matCellDef="let task"
              [ngClass]="{
                completed: task.completed,
                novalue: task.date == null
              }"
              mat-cell
            >
              {{ task.date | taskDate }}
            </td>
          </ng-container>

          <!--приоритет-->
          <ng-container matColumnDef="priority">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Приоритет</th>
            <td
              class="col-priority"
              *matCellDef="let task"
              [ngClass]="{
                completed: task.completed,
                novalue: task.priority == null
              }"
              mat-cell
            >
              {{ task.priority ? task.priority.title : "Без приоритета" }}
            </td>
          </ng-container>

          <!--категория-->
          <ng-container matColumnDef="category">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Категория</th>
            <td
              class="col-category"
              *matCellDef="let task"
              [ngClass]="{
                completed: task.completed,
                novalue: task.category == null,
                link: !task.completed && task.category
              }"
              (click)="
                !task.completed &&
                  task.category &&
                  onSelectCategory(task.category)
              "
              mat-cell
            >
              {{ task.category ? task.category.title : "Без категории" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="operations">
            <th mat-header-cell *matHeaderCellDef></th>
            <td
              class="col-operations"
              mat-cell
              *matCellDef="let task"
              [class.completed]="task.completed"
            >
              <button
                mat-icon-button
                (click)="openDeleteDialog(task)"
                class="delete-icon"
              >
                <mat-icon aria-hidden="false">delete</mat-icon>
              </button>
              <button
                mat-icon-button
                (click)="openEditTaskDialog(task)"
                class="edit-icon"
              >
                <mat-icon aria-hidden="false">edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef></th>
            <td class="col-select" mat-cell *matCellDef="let task">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? onToggleStatus(task) : null"
                [checked]="task.completed"
              >
              </mat-checkbox>
            </td>
          </ng-container>

          <!--  заголовок таблицы-->
          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>

          <!--  строки таблицы - набор строк из тегов td (порядок указывается в переменной displayedColumns) -->
          <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[10, 20, 50, 100]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>

    <!-- -------------------------------------
------------Мобильная версия-------------------------
------------------------------------- -->

    <div *ngIf="isMobile && tasks.length > 0">
      <div
        *ngFor="let task of tasks; let index = index"
        [ngClass]="{ completed: task.completed }"
      >
        <div
          (click)="$event.stopPropagation(); openEditTaskDialog(task)"
          [ngClass]="{ 'background-completed': task.completed }"
          class="card card-mobile"
        >
          <div
            [ngClass]="{ 'background-completed': task.completed }"
            [style.background-color]="getPriorityColor(task)"
            class="mobile-priority-top"
          ></div>

          <div class="row pt-1">
            <div class="col-9 col-md-10 d-flex pl-2">
              <div
                [class.completed]="task.completed"
                class="mobile-title align-self-center"
              >
                {{ task.title }}
              </div>
            </div>

            <div class="col-3 col-md-2 p-0 pr-1">
              <button
                class="mobile-check-button"
                (click)="$event.stopPropagation(); onToggleStatus(task)"
                *ngIf="!task.completed"
                mat-icon-button
              >
                <mat-icon
                  (click)="$event.stopPropagation(); onToggleStatus(task)"
                  class="mobile-check-fix check-icon-notcompleted"
                  >check_circle_outline
                </mat-icon>
              </button>

              <button
                class="mobile-check-button"
                (click)="$event.stopPropagation(); onToggleStatus(task)"
                *ngIf="task.completed"
                mat-icon-button
              >
                <mat-icon
                  class="mobile-check-fix check-icon-completed"
                  (click)="$event.stopPropagation(); onToggleStatus(task)"
                  >check_circle</mat-icon
                >
              </button>
            </div>
          </div>

          <div class="row pb-2">
            <div class="col-12 px-2">
              <div
                [ngClass]="{ completed: task.completed }"
                class="mobile-category"
              >
                <p [ngClass]="{ category: !task.completed && task.category }">
                  {{ task.category ? task.category.title : "Без категории" }}
                </p>
              </div>

              <div *ngIf="task.priority" class="mobile-priority">
                <p
                  [ngClass]="{
                    priority: !task.completed,
                    completed: task.completed
                  }"
                  [style.background-color]="getMobilePriorityBgColor(task)"
                >
                  {{ task.priority.title }}
                </p>
              </div>

              <div
                [ngClass]="{ completed: task.completed }"
                class="mobile-date"
              >
                {{ task.date | taskDate }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="tasks && tasks.length == 0" class="col-12">
      <p class="not-found">Задач не найдено</p>
    </div>
  </div>
</div>
