<div
  class="vertical-middle priorities"
  *ngFor="let priority of priorities; let index = index"
>
  <div class="row align-self-baseline">
    <div class="col-6 col-sm-8 px-0">
      <a class="pointer">{{ priority.title }}</a>
    </div>
    <div class="col-6 col-sm-4 px-0 d-flex justify-content-between text-right">
      <span
        *ngIf="isMobile"
        [(colorPicker)]="priority.color"
        [style.background]="priority.color"
        [cpPosition]="'auto'"
        [cpPositionOffset]="'-400%'"
        [cpHeight]="'200px'"
        [cpUseRootViewContainer]="true"
        [cpDisableInput]="true"
        class="color-circle"
      ></span>
      <span
        *ngIf="!isMobile"
        [(colorPicker)]="priority.color"
        [style.background]="priority.color"
        [cpPosition]="'auto'"
        class="color-circle"
      ></span>
      <p class="pointer gray" (click)="openEditPriorityDialog(priority)">
        <mat-icon>edit</mat-icon>
      </p>
      <p class="pointer gray" (click)="openDeletePriorityDialog(priority)">
        <mat-icon>delete</mat-icon>
      </p>
    </div>
  </div>
</div>
<button
  mat-raised-button
  color="primary"
  class="link title mt-3"
  (click)="openAddPriorityDialog()"
>
  Добавить приоритет
</button>
