.nav-item {
  cursor: pointer;
}

.edit-category-icon-area {
  width: 15%;
  display: inline-block;
  text-align: left;
  font-size: 13px;
}

.edit-category-icon {
  color: #dadada;
}

.search-category-area {
  margin: 15px auto -20px;
  width: 90%;
}

.search-category-field {
  z-index: 10;
}

.no-categories-found {
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}

.category-title {
  width: 85%;
  display: inline-block;
  font-size: 16px;
}

.all-category-title {
  width: 85%;
  display: inline-block;
  font-size: 16px;
}

.sidebar li.active > a {
  background-color: #673ab7;
  box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%),
    0 7px 10px -5px rgb(156 39 176 / 40%);
}

.sidebar .sidebar-wrapper {
  height: calc(100vh - 125px);
}

.logo {
  display: flex;
  justify-content: space-around;
}

.mat-icon {
  height: 23px;
}

.sidebar-background {
  background-image: url(../../../assets/img/sidebar-2.jpg);
}
